@import "tailwindcss";

@theme {
    --color-*: initial;
    --color-neutral-0: hsl(0, 0%, 100%);
    --color-neutral-2: hsl(250, 6%, 84%);
    --color-neutral-3: hsl(240, 6%, 70%);
    --color-neutral-6: hsl(243, 23%, 30%);
    --color-neutral-7: hsl(243, 23%, 24%);
    --color-neutral-8: hsl(243, 27%, 20%);
    --color-neutral-9: hsl(243, 96%, 9%);

    --color-orange: hsl(28, 100%, 52%);
    --color-white: #fff;

    --color-blue-5: hsl(233, 67%, 56%);
    --color-blue-7: hsl(248, 70%, 36%);

    --font-dm-sans: "DM Sans", sans-serif;
    --font-bricolage: "Bricolage Grotesque", sans-serif;
}